./Frontend/Chess/node_modules
./Frontend/Main/node_modules
./Frontend/Blogs/node_modules
./Frontend/Profile/node_modules
./Frontend/Store/node_modules

./Frontend/Chess/.idea
./Frontend/Main/.idea
./Frontend/Blogs/.idea
./Frontend/Profile/.idea
./Frontend/Store/.idea

./Frontend/Chess/.vscode
./Frontend/Main/.vscode
./Frontend/Blogs/.vscode
./Frontend/Profile/.vscode
./Frontend/Store/.vscode

.idea